/* DISSOLVE  */
/* EDIT the following values to adjust the carousel to yoru needs */
/* width of the carousel */
/* height of the carousel */
/* the number of items in the carousel */
/* time during which a carousel item is fully visible */
/* duration of the transition between two carousel items*/
/* END EDIT */
@import url(http://fonts.googleapis.com/css?family=Trykker);
.dissolve {
  width: 600px;
  height: 365px;
  position: relative;
  overflow: hidden;
}
.dissolve .item {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: dissolve 20s linear infinite;
  -moz-animation: dissolve 20s linear infinite;
  -o-animation: dissolve 20s linear infinite;
  animation: dissolve 20s linear infinite;
}
.dissolve .item:nth-child(2) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}
.dissolve .item:nth-child(3) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
.dissolve .item:nth-child(4) {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  animation-delay: 15s;
}
/*
/* The keyframes calculations are based on assumption of 4 items in the carousel.
/* You should notice the pattern for your own calculations.
*/
/* If you plan to support Safari 4 for any reason, you *must* have 0% and 100% frames */
@-webkit-keyframes dissolve {
  0%,
  30%,
  100% {
    opacity: 0;
  }
  5%,
  25% {
    opacity: 1;
  }
}
@-moz-keyframes dissolve {
  0%,
  30%,
  100% {
    opacity: 0;
  }
  5%,
  25% {
    opacity: 1;
  }
}
@-ms-keyframes dissolve {
  0%,
  30%,
  100% {
    opacity: 0;
  }
  5%,
  25% {
    opacity: 1;
  }
}
@keyframes dissolve {
  0%,
  30%,
  100% {
    opacity: 0;
  }
  5%,
  25% {
    opacity: 1;
  }
}


figure {
  .carousel {
    width: 600px;
    border: 1px solid #999;
  }
}
