body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h1 {
  color: white;
}

h2 {
  font-weight: 300;
  position: relative;
  z-index: 1;
  text-align: center;
  border-top: 1px solid #999;
  width: 150px;
  margin: 10px auto 30px;
}
h3 {
  text-align: center;
  font-size: 26px;
  margin: 0px;
  padding-top: 10px;
  color: #888;
  font-weight: 300;
}
h4 {
  padding: 10px 30px;
  text-align: center;
  color: #666;
  font-size: 24px;
  margin: 0px;
  font-weight: 300;
}

.hh1 {
  font-size: 60px;
}
.hh2 {
  font-size: 45px;
}

#navigation li a.special, #contact-area input.special {
  background: rgba(77, 103, 138, 0.57);
  color: white;
  border-radius: 3px;
  padding: 5px 25px;
  border: 1px solid rgb(77, 103, 138);
  font-weight: 300;
  color: white;
}


#logo {
  position: absolute;
  top: 20px;
  left: 80px;
}

#navigation {
  position: relative;
  padding: 5px 100px;
  transition: 300ms;
  #links {
    float: right;
    li {
      float: left;
      list-style-type: none;
      margin: 15px 10px;
      padding: 15px 10px;
      a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.35) url('../img/pattern.png') repeat;
  position: absolute;
  top: 0px;
  left:0px;
  width:100%;
  height:100%;
}

#top {
  background-image:url('../img/lavender.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  padding: 0px 20px 0px;
  #space {height:80px;}
  #top-text {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
    padding: 40px 0px 30px;
  }
}


#work {
  position: relative;
  background: #eee;
  padding: 0px 20px 70px;
  .work-history {
    width: 200px;
    margin: 0px auto;
  }
  .work-circle {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
    .work-history-logo {
      width: 100%;
      margin-top: 42px;
    }
  }
  .drop {
    background: url('../img/drop.png') no-repeat;
    width: 31px;
    height: 44px;
    margin: 10px auto 0px;
  }
}

#skills {
  position: relative;
  padding: 20px 20px 70px;
  background: white;
  .skill {
    position: relative;
    margin: 10px auto 0px;
    width: 100px;
    i {
      color: rgba(77, 103, 138, 1);
      font-size: 100px;
    }
  }
}

#tools {
  position: relative;
  padding: 20px 20px 60px;
  background: #eee;
  p {
    text-align: center;
    margin: 20px 0px 40px;
    color: #eee;
    font-size: 20px;
    line-height: 1.5em;
  }
}

#projects {
  background: #333;
  background-size: 100% auto;
  position: relative;
  padding: 20px 30px 80px;
  text-align: center;
  .project-item {
    max-width: 400px;
    margin: 0 auto;
    img {
      width: 100%;
      padding: 20px 30px 10px;
    }
    a {
      font-size: 18px;
      color: #66d7ff;
      &:hover {
        color: #337ab7;
      }
    }
  }
}

.bar {
  background: #3E4246;
  padding: 30px;
  text-align: center;
  p {
    color: white;
    font-size: 16px;
  }
  a {
    color: #66d7ff;
  }
}

@media (max-width: 992px) {
  #top{height:460px;#top-text{color:white;font-size:20px;text-align:center;}#space {height:80px;}}
  #navigation {padding: 5px 0px;}
  #logo {left:20px;}
  .carousel {margin: 0px auto;}
}

@media (max-width: 600px) {
  .hide-mobile {display: none;}
  #logo {left:0px;right:0px;margin:auto;}
  #top{height:auto;padding:120px 20px 0px;}
}


