body{
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: white;
}

h3 {
  text-align: center;
}

a.special, #contact-area input.special {
  background: rgba(77, 103, 138, 0.57);
  color: white;
  border-radius: 3px;
  padding: 5px 25px;
  border: 1px solid rgb(77, 103, 138);
}

#navigation.plus {
  background: rgba(255,255,255,0.75);
  li {
    a {
      color: #666;
    }
  }
}

#navigation {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 5px 100px;
  transition: 300ms;
  z-index: 2;
  #logo {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 230px;
    height: 70px;
  }
  li {
    float: left;
    list-style-type: none;
    margin: 5px 10px;
    padding: 17px 10px;
    a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.35) url('../img/pattern.png') repeat;
  position: absolute;
  top: 0px;
  left:0px;
  width:100%;
  height:100%;
}

#top {
  background-image:url('../img/lavender.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 700px;
  position: relative;
  #top-text {
    position: absolute;
    left: 10%;
    top: 320px;
    font-size: 40px;
    width: 30%;
    color: rgba(255, 255, 255, 0.6);
  }
  #ss {
    position: absolute;
    bottom: 0px;
    right: 10%;
  }
}


#work {
  position: relative;
  background: #eee;
  padding: 0px 20px 70px;
  .work-history {
    width: 200px;
    margin: 0px auto;
  }
  .work-circle {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
    .work-history-logo {
      width: 100%;
      margin-top: 42px;
    }
  }
  .drop {
    background: url('../img/drop.png') no-repeat;
    width: 31px;
    height: 44px;
    margin: 10px auto 0px;
  }
  h3 {
    padding-top: 10px;
    text-align: center;
    color: #888;
  }
  p {
    padding-top: 10px;
    text-align: center;
    color: #666;
  }
}

#skills {
  position: relative;
  padding: 40px 20px 80px;
  background: #d5d5d5;
  .skill {
    position: relative;
    margin: 40px auto 10px;
    width: 100px;
    i {
      color: rgba(77, 103, 138, 1);
      font-size: 100px;
    }
  }
  p {
    padding: 0px 100px;
    text-align: center;
  }
}

#tools {
  position: relative;
  padding: 70px 20px 80px;
  /*background: #512642;*/
  background: #eee;
  .tool-circle {
    display:none;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 60px auto 30px;
    background: #4d678a;
  }
  p {
    text-align: center;
    margin: 20px 0px 40px;
    color: #eee;
    font-size: 20px;
    line-height: 1.5em;
  }
  .line {
    display:none;
    width: 1px;
    background: #ccc;
    height: 100%;
    position: absolute;
    top: 24%;
    right: -50px;
  }
}

#projects {
  background: url('../img/work-bg.jpg') no-repeat;
  background-size: 100% auto;
  position: relative;
  padding: 90px 30px;
  text-align: center;
  .project-item {
    img {
      width: 100%;
      padding: 20px 30px 10px;
    }
    p {
    }
  }
}

#about {
  position: relative;
  padding: 35px 30px;
  height: 610px;
  background: url('../img/speed.jpg') no-repeat;
}

.bar {
  /*background: #59717B;*/
  background: #3E4246;
  padding: 30px;
  text-align: center;
  p {
    color: white;
  }
  a {
    color: #66d7ff;
  }
}

//contact form


#contact-area {
  width: 100%;
  margin-top: 25px;
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 470px;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  margin: 0px 0px 10px 0px;
  border: none;
  background: rgba(255,255,255,0.4);
}

#contact-area textarea {
  height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
  background: rgba(255,255,255,1);
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
